---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: radvd
  namespace: dhcpv6-pd
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app: radvd
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: radvd
    spec:
      hostNetwork: true
      containers:
      - name: radvd
        command: ["radvd"]
        args: ["-m", "stderr", "-n", "-C", "/etc/radvd.conf", "--debug=5"]
        image: ghcr.io/untersander/radvd:2.20.0-r0
        imagePullPolicy: Always
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /etc/radvd.conf
          name: radvd-config
          subPath: radvd.conf
      volumes:
      - configMap:
          name: radvd-config
        name: radvd-config