---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dhcpcd
  namespace: dhcpv6-pd
spec:
  selector:
    matchLabels:
      app: dhcpcd
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: dhcpcd
    spec:
      hostNetwork: true
      containers:
      - name: dhcpcd
        command: ["dhcpcd"]
        args: ["--nobackground","-f", "/etc/dhcpcd.conf"]
        image: linuxkit/dhcpcd:b87e9ececac55a65eaa592f4dd8b4e0c3009afdb-amd64
        imagePullPolicy: Always
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - NET_BIND_SERVICE
              - NET_RAW
              - SYS_CHROOT
              - SYS_ADMIN
              - SETGID
              - SETUID
            drop: ["ALL"]
        volumeMounts:
        - mountPath: /etc/dhcpcd.conf
          name: dhcpcd-config
          subPath: dhcpcd.conf
        # - mountPath: /var/db/dhcpcd
        #   name: dhcpcd-state-store
        #   subPath: db
        - mountPath: /var/lib/dhcpcd
          name: dhcpcd-state-store
          subPath: lib
      volumes:
      - configMap:
          name: dhcpcd-config
        name: dhcpcd-config
      - persistentVolumeClaim:
          claimName: dhcpcd-state-store
        name: dhcpcd-state-store