apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest-exporter
  namespace: observability
spec:
  replicas: 1
  selector:
    matchLabels:
      app: speedtest-exporter
  template:
    metadata:
      labels:
        app: speedtest-exporter
    spec:
      containers:
      - name: speedtest-exporter
        image: miguelndecarvalho/speedtest-exporter:v3.5.3
        ports:
        - name: metrics
          containerPort: 9798
        env:
        - name: SPEEDTEST_SERVER
          value: "70609"
---
apiVersion: v1
kind: Service
metadata:
  name: speedtest-exporter
  namespace: observability
  labels:
    app: speedtest-exporter
spec:
  selector:
    app: speedtest-exporter
  ports:
  - port: 9798
    targetPort: metrics
    protocol: TCP
    name: metrics
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: speedtest-exporter
  namespace: observability
spec:
  selector:
    matchLabels:
      app: speedtest-exporter
  namespaceSelector:
    matchNames:
    - observability
  endpoints:
  - port: metrics
    interval: 60s
    scrapeTimeout: 60s
    path: /metrics
