# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      chart: grafana
      version: 8.8.5
  driftDetection:
    mode: enabled
  interval: 3m
  values:
    replicas: 1
    # Grafana is too dumb for non-failing upgrades: https://github.com/grafana/helm-charts/issues/1184
    deploymentStrategy:
      type: Recreate

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            disableDeletion: false
            editable: true
            folder: ""
            options:
              path: /var/lib/grafana/dashboards/default
            orgId: 1
            type: file
          - name: flux
            orgId: 1
            folder: Flux
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/flux
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes

    dashboards:
      default:
        cert-manager:
          gnetId: 20842
          revision: 3
          datasource: Prometheus
      kubernetes:
        k8s-system-api-server:
          gnetId: 15761
          revision: 19
          datasource: Prometheus
        k8s-views-global:
          gnetId: 15757
          revision: 43
          datasource: Prometheus
        k8s-views-nodes:
          gnetId: 15759
          revision: 35
          datasource: Prometheus
        k8s-views-namespaces:
          gnetId: 15758
          revision: 42
          datasource: Prometheus
        k8s-views-pods:
          gnetId: 15760
          revision: 36
          datasource: Prometheus
        k8s-volumes:
          gnetId: 11454
          revision: 14
          datasource: Prometheus
        node-exporter-full:
          gnetId: 1860
          revision: 39
          datasource: Prometheus
      flux:
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
          datasource: Prometheus

    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - access: proxy
            name: Prometheus
            type: prometheus
            url: http://prometheus-operated.observability.svc.cluster.local:9090
            isDefault: true
            jsonData:
              prometheusType: Prometheus
        deleteDatasources:
          - name: Prometheus
            orgId: 1

    admin:
      existingSecret: grafana-admin

    env:
      GF_ANALYTICS_CHECK_FOR_UPDATES: false
      GF_ANALYTICS_CHECK_FOR_PLUGIN_UPDATES: false
      GF_ANALYTICS_REPORTING_ENABLED: false
      GF_NEWS_NEWS_FEED_ENABLED: false
      GF_AUTH_ANONYMOUS_ENABLED: false
      GF_AUTH_BASIC_ENABLED: false

    grafana.ini:
      analytics:
        check_for_updates: true
      grafana_net:
        url: https://grafana.net
      log:
        mode: console
      paths:
        data: /var/lib/grafana/
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      server:
        root_url: https://grafana.k8s.garden

    imageRenderer:
      enabled: false

    persistence:
      enabled: true
      storageClassName: local-path
      size: 10Gi

    rbac:
      pspEnabled: false

    # resources:
    #   limits:
    #     memory: 512Mi
    #   requests:
    #     cpu: 50m
    #     memory: 128Mi

    # TODO: Expose Grafana ingress or http route
    # ingress:
    #   enabled: true
    #   ingressClassName: nginx
    #   annotations:
    #     cert-manager.io/issuer: letsencrypt-dns01-prod
    #   path: /
    #   pathType: Prefix
    #   hosts:
    #     - grafana.k8s.garden
    #   tls:
    #     - secretName: grafana-tls
    #       hosts:
    #         - grafana.k8s.garden
    # route:
    #   main:
    #     enabled: true
    #     hostnames:
    #       - grafana.k8s.garden
    #     parentRefs:
    #       - name: internal
    #         namespace: kube-system
    #         sectionName: https

    serviceAccount:
      create: true
      autoMount: true

    serviceMonitor:
      enabled: true

    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        label: grafana_dashboard
        folderAnnotation: grafana_folder
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
        labelValue: ""

    testFramework:
      enabled: false
