apiVersion: v1
kind: Service
metadata:
  name: pihole
  namespace: pihole
  annotations:
    "lbipam.cilium.io/ips": "10.0.0.5,fd00::5"
spec:
  clusterIP: 10.100.0.5
  # loadBalancerIP: 10.0.0.5 # deprecated since k8s 1.24, but kept for reference
  ipFamilies:
    - IPv4
    - IPv6
  ipFamilyPolicy: "RequireDualStack"
  ports:
    - name: "53"
      port: 53
      targetPort: 53
    - name: 53-udp
      port: 53
      protocol: UDP
      targetPort: 53
    - name: "67"
      port: 67
      protocol: UDP
      targetPort: 67
    - name: "80"
      port: 80
      targetPort: 80
    - name: "443"
      port: 443
      targetPort: 443
  selector:
    service: pihole
  type: LoadBalancer